body{
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.container{
  width: 90%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  row-gap: 5rem;
 
}
.container  .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 30px;
  position: absolute;
  bottom: 60px;
  margin-left: 10px;
}
.content h3 , .content p, .content a{
  margin: 0;
  margin-bottom: 10px;

}
.content a {
  font-size: 19px;
  text-decoration: none;
  color: purple;
}
.content a:hover{
  opacity: 0.7;
}
.all-projects-container{
  margin: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;

}
button{
  min-height: 30px;
  border-radius: 20px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  min-width: 100px;
  height: auto;
  width: auto;
}
.blackButton{

  background-color: black;
  transition:  background-color 0.2s linear;
  color: white;
}
#darkContainer div{
  background-color: white;
  border: 4px solid purple;
  transition:  background-color , border 0.2s linear;
}
 .darkBody{
  padding-bottom: 100px;
  background-color: black;
  transition:  background-color 0.2s linear;
}
.lightH1{
  color: white;
}
h1{
  margin-top: 0;
}
select{
  width: 200px;
  height: 25px;
  border-radius: 20px;
}
.container .project {
  min-height: 18rem;
  height: auto;
  width: 100%;
  position: relative;
  background-color: gray;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  font-size: 18px;
}
.container div img{
  width: 100%;
  height: 12rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}
.container div img:hover{
  transform: scale(1.03);
  cursor: pointer;
}

@media (max-width: 767px){
  
  .container{
    grid-template-columns: 1fr;
  }
}
@media (min-width: 767px) and (max-width: 1217px){
  .container{
    grid-template-columns: 1fr 1fr;
  }
}